
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SpellChecker</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- <base href="./"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css"></head>
  <body style="height: 100vh; width: 100%;">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
    <div class="container">
      <div class="opt-bar">
        <div appearance="legacy">
          <label>Select Language</label>
          <select id="lang" onchange="langChange()">
            <option value="dictionary-ca">Catalan</option>
            <option value="dictionary-da">Dansk</option>
            <option value="dictionary-de">Deutsch</option>
            <option value="dictionary-es">Spanish</option>
            <option value="dictionary-fr">French</option>
            <option value="dictionary-it">Italian</option>
            <option value="dictionary-nl">Nederlands</option>
            <option value="dictionary-pl">Polski</option>
            <option value="dictionary-pt-pt">Portuguese</option>
            <option value="dictionary-sv">Swedish</option>
            <option value="dictionary-en">English</option>
          </select>
        </div>
        <button id="check" color="primary" onclick="checkText()">Check</button>
        <button id="correct" color="primary" onclick="reset()">Continue writing</button>
      </div>
      <div id="text-c" class="textarea" appearance="outline">
          <textarea id="textarea" style="width: 100%" rows="20" cols="100" placeholder="text" ></textarea>
      </div>
      <div id="result-c" class="textarea border" style="display: none;">
        <div id="ex-pa" class="ex-pa">
          <p id="result"></p>
        </div>
      </div>
    </div>
  </body>
</html>
