
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Correccion Ortográfica</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- <base href="./"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css"></head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8174004503690720"
     crossorigin="anonymous"></script>
  <body>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
    <div class="container">
      <div class="logo-c">
        <img src="logo.png" width="300">
      </div>
      <h4 style="color:black;">A Spell Checker for 11 Languages.</h4>
      <br/><br/><br/>
      <div class="opt-bar">
        <div appearance="legacy">
          <label>Select Language</label>
          <select id="lang" onchange="langChange()">
            <option value="dictionary-ca">Catalan</option>
            <option value="dictionary-da">Dansk</option>
            <option value="dictionary-de">Deutsch</option>
            <option value="dictionary-en" selected>English</option>
            <option value="dictionary-fr">French</option>
            <option value="dictionary-it">Italian</option>
            <option value="dictionary-nl">Nederlands</option>
            <option value="dictionary-pl">Polski</option>
            <option value="dictionary-pt-pt">Portuguese</option>
            <option value="dictionary-es">Spanish</option>
            <option value="dictionary-sv">Swedish</option>
          </select>
        </div>
        <button id="check" class="btn" onclick="checkText()">Check</button>
        <button id="correct" class="btn" onclick="reset()">Continue writing</button>
      </div>
      <div id="text-c" class="textarea" appearance="outline">
        <textarea class="inp-area" id="textarea" style="width: 100%" rows="30" cols="100" placeholder="Start typing here..." oninput="textcount()"></textarea>
      </div>
     
      <div id="result-c" class="textarea border" style="display: none;">
        <div id="ex-pa" class="ex-pa">
          <p id="result"></p>
        </div>
      </div>
      <div class="text-count">
        <h3 style="margin: 0 5px" id="text-count"></h3>
      </div>
      <div style="text-align: center;">
        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(Ñ ñ Á á É é Í í Ó ó Ú ú ü ¿¡)</font></font></h2>

        <br>



        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Description:</font></font></b><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 

        The online spell checker supports 11 different languages &ZeroWidthSpace;&ZeroWidthSpace;including English and works without reloading the page. </font></font><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">

        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Steps to follow:</font></font></b><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 

        - Select the language you want to correct. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">

        (Spanish English German French Italian and others) </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">

        - Enter the text to be corrected. </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">

        - And just click on </font></font><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Correct Spelling in your Language</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> . </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">

          - Click on the wrong words for suggestions.

      </div>

      <div class="content" style="text-align: left; margin-top: 100px;">
        <p>Finding the right grammar and spell checker that provides you with authentic checking and guidance can be a tiresome task. When we land on the internet, we search for the best grammar and spell checker, click on a link and end up disappointed and worried for our work. Imagine having an urgent submission just minutes away, and your paper still has some spelling errors that need to be corrected. How daunting. Truly a situation none of us want to end up in.<br><br>
          Well, you have then landed on the right page. CORRECCION ORTOGRAFICA is a versatile and easy-to-use grammar and spell checker that helps people all around the world fix their spelling mistakes in no time. Spelling is one of the first things that readers usually focus on. Imagine your readers going through the visual war to figure out what a word is. <br><br>
          This kind of presentation and visual struggle ruins the essence of a paper or essay, which is why you need a correccion ortografica that helps you in the perfect manner whenever you need. <br><br>
          <b>Why choose CORRECCION ORTOGRAFICA?</b><br><br> 
          When we browse the internet for a good and ad-free grammar and spell checker, we are often bombarded with multiple sites that hardly fulfil our purpose, and we end up wasting time that can be of the essence. Well, now you don't have to browse further and waste precious time. Check out our service for correccion ortografica for the best website you can end up on!<br>
          As a team, we aim to make sure that students and professionals are provided with a service that is seamless, smooth, and stable. Unlike our counterparts, we love to keep in mind the need of those using our correccion ortografica, which is why we have designed it to be the best one out there. <br>
          We are aware about how hard it can be to find a trustworthy tool in many languages. Well, all your worries will now be put to rest with our seamless tool. All you have to do is paste and hit check, and Voila!<br>
          </p><br><br>
          <div class="img">
            <img src="CORRECCIONORTOGRAFICA ONLINE SPELL CHECKER.png" width="80%" height="80%"/><br><br><br>
          </div>
          <p><b>Is CORRECCION ORTOGRAFICA only available in one language?</b></p><br>
          <p>This is where you will choose CORRECCION ORTOGRAFICA as your next grammar and spell checker. Do you have a language paper that you need to review for spellings? Are you new to a language and are unsure about whether your spelling and grammar is correct? Well, time to leave all your worries behind. CORRECCION ORTOGRAFICA  is a grammar and spell checker service that provides its customers with the best spell-checking tools in the market. </p><br>
          <p>Not only will CORRECCION ORTOGRAFICA provide you with grammar and spell checker services for English, but it provides this tool in multiple languages. Isn't that great? You can now easily run through a thorough and detailed check on your spellings in another language and get that A in no time.</p><br><br>
          <p><b>The benefits of writing properly</b></p><br>
          <p>When it comes to submitting a paper and doing professional work, writing a proper paper with the correct grammar and spelling is the most important task. After using the correct language for your paper, it is vital to ensure that your sentence structure and your grammar is spotless. <br>
            Think of yourselves in a professional situation. You need to submit an important proposal by midnight tomorrow, and you are worried sick about it being approved. This is why you need to make sure that you before you need to submit something as important, it should have the following checklist all ticked out:<br> 
            The correct language in the right context, i.e., professional proposals and emails, should contain formal and corporate structures. <br>
          </p>
          <ul style="text-align: left;">
            <li><p>The correct grammar</p></li>
            <li><p>The correct spellings</p></li>
            <li><p>Appropriate paragraphing</p></li>
            <li><p>Shorter sentences</p></li>
            <li><p>Proper alignment and formatting</p></li>
          </ul>
          <p><br>When it comes to important papers, be it school submissions or presentation proposals for a client, it is important to note that visually your writing should be as neat, formatted, and presentable as possible. <br>
            To aid your hard work, you can easily rely on CORRECCION ORTOGRAFICA as your next best friend. Not only does CORRECCION ORTOGRAFICA provide you with an English corrector service, it comprehensively is a musket of language services that not only provides you with tools for one language, but it also has a plethora of other languages that are often hard to find correccion ortografica for. 
          <br>
          Using a corrector as a tool to aid your writing is a much-needed option these days. With lesser time and longer writings to be finished, your reliance on CORRECCION ORTOGRAFICA as your paper corrector will never leave you disappointed.<br><br>
        <b>But do we really need an auto corrector online?</b><br><br>
        Using a grammar and spell checker is something many of us need these days. Not only do we regularly make mistakes that we can often overlook, but we also can become confused about using the right grammar and structure, which is why you need to check out CORRECCION ORTOGRAFICA  - a free online grammar and spell checker that provides a multitude of other services such as grammar checking, structure corrections and much more. <br>
        Our tool is easy to use and manage. All you have to do is choose the function you need to use, paste in the content you need checked, and click on the checker button. And voila! You will get the most comprehensive and detailed detections that you can correct on the site in no time.<br><br>
      <b>Plus, suggestions?</b> <br><br>
      Not only does CORRECCION ORTOGRAFICA act as the best grammar and spell checker out there, but it is also a versatile tool that will make you remember your middle school English teacher. That's about right. With your oversights and mistakes being pointed out in red, our tool comprehensively and diligently also provides suggestions for spellings and grammar corrections. <br>
      Well, what could be better? Having this all-in-one tool will allow you to fix your writing in no time. Just like the polite (or harsh, for some) suggestions you got from your teacher years ago, CORRECCION ORTOGRAFICA  immediately processes the sentence that needs correction and provides you with the best possible suggestions that match your structure and style and make your writing mistake-free spotless in no time. <br><br>
    <b>A tool fitted for other languages</b><br><br>
    When it comes to looking for tools that correct other languages as comprehensively as many tools out there do for English, it can be hard to find one that fits all. What if you need to check a Spanish assignment or your French essay? What if your final grade heavily depends on your Portuguese grammar and sentence structure? Well, for many of us, perfecting a language that is not our first language can be a daunting task. Which is why we often rely on online tools and language correctors; however, finding the right and most trustworthy one can be a hard job. <br>
    What if you have less time to submit it? What if your entire grade depends on this submission? Well, pretty scary, isn't it? But here is a much-awaited solution for all your language needs - CORRECCION ORTOGRAFICA. That's correct. <br>
    Along with perfecting your writings in English, CORRECCION ORTOGRAFICA offers these tools for multiple other languages that are often hard to find tools for. Let's take a look at the list of languages CORRECCION ORTOGRAFICA offers correction tools for:<br>
  </p>
  <ul style="text-align: left;">
    <li><p>Catalan</p></li>
    <li><p>Dansk</p></li>
    <li><p>Deutsch</p></li>
    <li><p>English</p></li>
    <li><p>French</p></li>
    <li><p>Italian</p></li>
    <li><p>Netherlands</p></li>
    <li><p>Polski</p></li>
    <li><p>Portuguese</p></li>
    <li><p>Spanish</p></li>
    <li><p>Swedish</p></li>

  </ul>
  <p><br>When it comes to looking for a grammar and spell checker for different languages, we are often faced with a dilemma where we are pretty unsure about whether the corrections provided are correct. Joke intended. Well, that's an issue that many students and professionals face on a daily basis. Finding the right tool can be extremely tiresome, and Woah, let's not talk about the trust issues we have. Always getting in the middle of everything, even correction tools.<br><br></p>
  <div class="img">
  <img src="CORRECCIONORTOGRAFICA ONLINE SPELL CHECKER FREE GRAMMAR SPELL CHECKER.png" width="80%" height="80%">
  </div>
   <p><br><br><b>Equality? Oh yes</b><br><br>
    Well, with CORRECCION ORTOGRAFICA, you can rest assured about the fact that we put equal emphasis (technologically) and otherwise when it comes to our services. Like English, every language is equally important to us. The ability and expertise of our website developers have made sure that the code and tools added for each language are the best ones. Ones that can comprehensively analyze the structure of your essay or writing and provide the best suggestions and corrections in the fastest possible way.<br>
    Not only does this make CORRECCION ORTOGRAFICA  stand out from other tools in the market, as a grammar and spell checker, it is assumed that everyone will have some preconditions that we need to fulfil. Be it subscribing for further grammar checks or having a small word limit; some tools can really push us to our limits which can result in us landing on various sites only to end up disappointed and frustrated with what the results are.<br>
    Which is why CORRECCION ORTOGRAFICA is the best option for you; with our grammar and spell checker tool, we also offer grammar checks, punctuation checks, and providing structured suggestions that you can use and change within the corrector itself. <br><br>
    <b>Bad at these languages? Well, don't worry.</b><br><br>
    Most of us use corrector tools when it comes to foreign languages. If you're a student of any of the following languages or if these are your first languages, then CORRECCION ORTOGRAFICA is the tool for you when it comes to reviewing any writing in these languages; Our comprehensive services will allow you to use these tools in the easiest and most convenient way. And oh, you can trust us. Just try CORRECCION ORTOGRAFICA and see for yourselves. <br><br>
   </p>
   <div class="img">
   <img src="CORRECCIONORTOGRAFICA ONLINE SPELL CHECKER BEST FREE LANGUAGE TOOL.png"  width="80%" height="80%" />   
  </div>   
<p><br><b>Catalan</b><br><br>
  Wow. A pretty specific language to learn; Well, if you're a new speaker or a native one, Catalan is an interesting language specific to Catalonia only, which is why finding grammar and corrector tools, especially a trustworthy grammar and spell checker, is a pretty difficult or maybe impossible task. <br>
  Well, don't worry at all. Our comprehensive tool has made sure that this beautiful language is catered for. Not only do we serve as a grammar and spell checker for Catalan, but we also provide other tools such as punctuation and grammar check in the best way. So, head over and check it out for yourself!<br><br>
  <b>Dansk</b><br><br>
  Danish is one of the most versatile languages in the world. With over 5 million people speaking this language, you can only expect how many people want to learn it more. And when it comes to new learners, it is only fair to imagine that these new learners would want the assistance of a grammar and spell checker and an online checker. <br>
  When it comes to more difficult and specific languages like Danish, it is often difficult to find proper and trustworthy tools that provide the best services for online corrector and grammar checking. So, all you have to do now is head over to our tool checker and see it for yourself! All your Dansk language issues are just a click away from being solved in no time.<br><br>
<b>Deutsch</b><br><br>
Aaah! A language that many of us are supposed to learn in certain situations; Be it working for a German company or applying for further education, this language can be daunting to learn, given it is one of the most difficult languages to pursue. And oh, let's not talk about the spelling errors we can make when writing an email, report, or paper in this language. <br>
Errors are bound to happen, but it is not important that they remain, which is why our site Correccion Ortografica is an amazing tool when it comes to spelling checking. Not only will our tools highlight your spelling mistakes, but it will also provide you with suggestions to correct them in the best possible way. So, head over, paste your text, and don't worry about wasting any precious time of yours. You can blindly trust our services to provide you with the most sought-after and needed language tool in the market.<br><br>
<b>English</b><br><br>
Well, we all have used a grammar and spell checker for English at least once in our lifetime. Not only is the market saturated with such tools, we are of the belief that numerous of these tools are just not providing users with what they really need. Which is a comprehensive tool that saves on users' time, provides them with the most thorough checking, and then also provides the best suggestions; well, this is what we are here to show you. <br>
Correccion Ortografica will do just that and more for you. Our specifically designed user interface provides everyone with the shortest result delays, which can load up your results in no time. So, head over, and check it out for yourself. We can guarantee that you won't leave disappointed, and we will soon become your go-to correccion ortografica tool everywhere you go!<br><br>
<b>French</b><br><br>
Looking for a good and reliable correcteur Francais? Well, look no more. Our special grammar and spell checker tool is specifically designed to cater to 11 languages in the best manner out there. And naturally, this beautiful language of love is one of them. Not only will our auto corrector online provide you with the fastest spell checks, but it will also provide you with the best suggestions in this language. <br>
You may have come across plenty of tools when it comes to checking your spellings in French; however, we have noticed that trust and disappointment are paramount. What if you have an important presentation and you still doubt your spelling? Well, that's a situation you don't want to end up in publicly, which is why Correccion Ortografica is here to dust away all your worries and provide you with the most trustworthy and quick language tools in the market. We will surely fulfil all that you expect and spell, and we will see you back here again for sure!<br><br>
<b>Italian</b><br><br>
Not is Italy a beautiful and fascinating country, but it is also home to a language that attracts many learners from all across the world. If you are a new learner or even a native speaker and you cannot find a proper correccion ortografica for your submission or important piece of writing, then stop for a second and let all your tension fade away. <br>
Correccion Ortografica is an enhanced language tool that acts as a text checker to provide the best spell check out there. Not only will our tool highlight your mistakes, but it will also provide you with the best suggestions that you can easily use to fix your writing in no time. 
All you have to do is head over to our website, which is specifically designed for users keeping in mind the unfriendly user interface that most spell-checking sites are equipped with; we have incorporated the best tools to perform the most professional function for you, and that also in no time! So, head over and check it out yourself.<br><br>
<b>Netherlands</b><br><br>
We are talking about the beautiful language of Dutch here. Which is not only spoken in the Netherlands; it is also the official language in Flanders which are just outside Belgium. And due to its scatteredness and 23 million speakers, we can only imagine how difficult it must be for users to find a proper spell checker that resonates with all our correccion ortografica issues in not time. <br>
Well, then you have landed at the right place. Correccion Ortografica is a multilingual site that offers the smoothest and fastest grammar and spell checker tools out there. You can dust away all your spelling worries and stay confident that our tool has provided you with the most thorough results and the best suggestions out there. <br><br>
<b>Polski</b><br><br>
In other words- Polish. Another beautiful language that hardly has any good correccion ortografica out there. This is why we have added this language to our site so native speakers and new speakers can easily fix their mistakes in no time. <br>
With plenty of substandard tools for grammar and spell checker out there and over 50 million speakers of Polish in the world, it is strange that there isn't a proper grammar and spell checker for this language out there. But don't worry at all. Your language and spelling worries are just about to leave easily. <br>
All you have to do is head over the website of Correccion Ortografica and paste it into your text. In no time, you will get the best results for your spelling. And not only that but you will also be provided with the best suggestions, so you can make your piece of writing the best<br><br>
<b>Portuguese</b><br><br>
Oh, boy. Another very difficult language to surpass; Portuguese is a beautiful language that attracts millions of speakers from all over the world. Not only that, but this language is spoken in countries such as Brazil, Macau, Mozambique, and many other countries. However, although this rich language is spoken in many places, it still isn't catered to in correccion ortografica tools available on the internet. <br>
Which is why Correccion Ortografica provides you with the best tools for spell checks and grammar out there; Not only will this tool highlight your corrections, but it also provide you with the best suggestions; Your writing will feel natural and structured in the best possible manner, so you won't have to worry about trusting the format of your writing. So, head over and avail the best grammar and spell checker language tool for Portuguese out there!<br><br>
<b>Spanish</b><br><br>
One of the most popular languages in the world, Spanish attracts millions of speakers and new learners every day. Not only does this language have a lot of grammar and spell checker tools made for it, it is catered to by millions of online tutors as well. But we all know that trusting these tools with important writing material can be difficult and take up a lot of your time. <br>
But don't you worry. Our team has worked hard to specifically design a very different grammar and spell checker in Spanish that provides our users with the most thorough oversights and suggestions in the market. <br>
We can guarantee that the Spanish grammar check provided along with its correccion ortografica tool will make sure that your writing piece is spotless and perfect in no time. So, believe it when you see it and head over to our site to let that sigh of relief out!<br><br>
<b>Swedish</b><br><br>
Another sought-after language that hardly has any trustworthy correccion ortografica tools out there. This is why our team at Correccion Ortografica has carefully designed our tool so it can properly cater to Swedish in the best possible way.<br>
Let's imagine you have an important submission due at midnight and you are a new learner for Swedish. Hmm. A difficult situation to be in such a tight situation; Well, you don't have to worry anymore. Not only will our tool provide you with the most detailed corrections, but it will also allow you to pick your mistake and then replace it with the best suggestions that will be automatically provided to you by our tool itself. <br>
We mean, what could be better? Compared to our counterparts out there, our result loading time is much less since we strive to provide for our users rather than make money from unwanted advertisements that no one ever wants to see. <br><br>
<b>Dedication and commitment at Correccion Ortografica</b><br><br>
The team at correccion ortografica has strived very hard to provide students and professionals with a tool that actually helps them equally in all the 11 languages we cater to. Not only this, but we have made sure that the suggestions we provide you with are fitted in the best possible way with your writing and its formatting.<br>
We have made sure that every language is treated and coded with the best attention, so anyone out there, be it a native Swedish speaker or someone who is a new learner of Polish, every language is equal for us. <br>
Not only will you be reminded of your primary school English teacher, but we can guarantee that you are bound to return to this seamless and smooth language tool. <br>
So, what are you waiting for? Head over to our website and enjoy its most user-friendly and ad-free design that is developed specifically for students and their ease. You won't ever have to worry about any ads or verifications, or registrations before you check your writing. All you have to do is:<br>

</p>
<ul  style="text-align: left;">
  <li><p>Copy the content you want checked for correccion ortografica</p></li>
  <li><p>Head over to our friendly website</p></li>
  <li><p>Paste in your content </p></li>
  <li><p>Click on 'check.'</p></li>
</ul>
<p><br>And enjoy fast results without having to load the page again
<br>Our dedication and teamwork are displayed through the site we have put forth. We aim to provide the best for hardworking individuals out there. So you can rest assured that you will be provided with the best tools for any language you wish to use a correccion ortografica in. </p>
  </div>
      <br>
    </div>

  </body>
  </html>
